<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kora">
<!-- Built using Xacro Generator: https://github.com/Miimiikiu/kora_tools.git -->
<xacro:property name="Black" value="0.0 0.0 0.0 1.0"/>
<xacro:property name="torso_lower_visual_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/visuals/OBJ/torso_lower.obj"/>
<xacro:property name="torso_lower_collision_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/collisions/OBJ/torso_lower_collision.obj"/>
<xacro:property name="torso_mid_visual_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/visuals/OBJ/torso_mid.obj"/>
<xacro:property name="torso_mid_collision_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/collisions/OBJ/torso_mid_collision.obj"/>
<xacro:property name="torso_upper_visual_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/visuals/OBJ/torso_upper.obj"/>
<xacro:property name="torso_upper_collision_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/collisions/OBJ/torso_upper_collision.obj"/>
<xacro:property name="backpack_visual_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/visuals/OBJ/backpack.obj"/>
<xacro:property name="backpack_collision_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/collisions/OBJ/backpack_collision.obj"/>
<xacro:property name="neck_visual_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/visuals/OBJ/neck.obj"/>
<xacro:property name="neck_collision_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/collisions/OBJ/neck_collision.obj"/>
<xacro:property name="neck_connection_visual_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/visuals/OBJ/neck_connection.obj"/>
<xacro:property name="neck_connection_collision_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/collisions/OBJ/neck_connection_collision.obj"/>
<xacro:property name="head_visual_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/visuals/OBJ/head.obj"/>
<xacro:property name="head_collision_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/collisions/OBJ/head_collision.obj"/>
<xacro:property name="realsense_visual_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/visuals/OBJ/realsense.obj"/>
<xacro:property name="realsense_collision_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/collisions/OBJ/realsense_collision.obj"/>
<xacro:property name="shoulder_bracket_dexter_visual_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/visuals/OBJ/shoulder_bracket_dexter.obj"/>
<xacro:property name="shoulder_bracket_dexter_collision_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/collisions/OBJ/shoulder_bracket_dexter_collision.obj"/>
<xacro:property name="shoulder_link_dexter_visual_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/visuals/OBJ/shoulder_link_dexter.obj"/>
<xacro:property name="shoulder_link_dexter_collision_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/collisions/OBJ/shoulder_link_dexter_collision.obj"/>
<xacro:property name="arm_upper_dexter_visual_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/visuals/OBJ/arm_upper_dexter.obj"/>
<xacro:property name="arm_upper_dexter_collision_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/collisions/OBJ/arm_upper_dexter_collision.obj"/>
<xacro:property name="forearm_dexter_visual_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/visuals/OBJ/forearm_dexter.obj"/>
<xacro:property name="forearm_dexter_collision_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/collisions/OBJ/forearm_dexter_collision.obj"/>
<xacro:property name="wrist_rot_link_dexter_visual_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/visuals/OBJ/wrist_rot_link_dexter.obj"/>
<xacro:property name="wrist_rot_link_dexter_collision_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/collisions/OBJ/wrist_rot_link_dexter_collision.obj"/>
<xacro:property name="wrist_ball_dexter_visual_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/visuals/OBJ/wrist_ball_dexter.obj"/>
<xacro:property name="wrist_ball_dexter_collision_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/collisions/OBJ/wrist_ball_dexter_collision.obj"/>
<xacro:property name="hand_dexter_visual_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/visuals/OBJ/hand_dexter.obj"/>
<xacro:property name="hand_dexter_collision_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/collisions/OBJ/hand_dexter_collision.obj"/>
<xacro:property name="shoulder_bracket_sinister_visual_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/visuals/OBJ/shoulder_bracket_sinister.obj"/>
<xacro:property name="shoulder_bracket_sinister_collision_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/collisions/OBJ/shoulder_bracket_sinister_collision.obj"/>
<xacro:property name="shoulder_link_sinister_visual_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/visuals/OBJ/shoulder_link_sinister.obj"/>
<xacro:property name="shoulder_link_sinister_collision_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/collisions/OBJ/shoulder_link_sinister_collision.obj"/>
<xacro:property name="arm_upper_sinister_visual_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/visuals/OBJ/arm_upper_sinister.obj"/>
<xacro:property name="arm_upper_sinister_collision_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/collisions/OBJ/arm_upper_sinister_collision.obj"/>
<xacro:property name="forearm_sinister_visual_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/visuals/OBJ/forearm_sinister.obj"/>
<xacro:property name="forearm_sinister_collision_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/collisions/OBJ/forearm_sinister_collision.obj"/>
<xacro:property name="wrist_rot_link_sinister_visual_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/visuals/OBJ/wrist_rot_link_sinister.obj"/>
<xacro:property name="wrist_rot_link_sinister_collision_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/collisions/OBJ/wrist_rot_link_sinister_collision.obj"/>
<xacro:property name="wrist_ball_sinister_visual_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/visuals/OBJ/wrist_ball_sinister.obj"/>
<xacro:property name="wrist_ball_sinister_collision_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/collisions/OBJ/wrist_ball_sinister_collision.obj"/>
<xacro:property name="hand_sinister_visual_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/visuals/OBJ/hand_sinister.obj"/>
<xacro:property name="hand_sinister_collision_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/collisions/OBJ/hand_sinister_collision.obj"/>
<xacro:property name="hip_bracket_dexter_visual_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/visuals/OBJ/hip_bracket_dexter.obj"/>
<xacro:property name="hip_bracket_dexter_collision_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/collisions/OBJ/hip_bracket_dexter_collision.obj"/>
<xacro:property name="hip_motor_link_dexter_visual_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/visuals/OBJ/hip_motor_link_dexter.obj"/>
<xacro:property name="hip_motor_link_dexter_collision_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/collisions/OBJ/hip_motor_link_dexter_collision.obj"/>
<xacro:property name="thigh_dexter_visual_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/visuals/OBJ/thigh_dexter.obj"/>
<xacro:property name="thigh_dexter_collision_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/collisions/OBJ/thigh_dexter_collision.obj"/>
<xacro:property name="calf_dexter_visual_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/visuals/OBJ/calf_dexter.obj"/>
<xacro:property name="calf_dexter_collision_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/collisions/OBJ/calf_dexter_collision.obj"/>
<xacro:property name="ankle_link_dexter_visual_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/visuals/OBJ/ankle_link_dexter.obj"/>
<xacro:property name="ankle_link_dexter_collision_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/collisions/OBJ/ankle_link_dexter_collision.obj"/>
<xacro:property name="foot_dexter_visual_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/visuals/OBJ/foot_dexter.obj"/>
<xacro:property name="foot_dexter_collision_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/collisions/OBJ/foot_dexter_collision.obj"/>
<xacro:property name="hip_bracket_sinister_visual_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/visuals/OBJ/hip_bracket_sinister.obj"/>
<xacro:property name="hip_bracket_sinister_collision_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/collisions/OBJ/hip_bracket_sinister_collision.obj"/>
<xacro:property name="hip_motor_link_sinister_visual_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/visuals/OBJ/hip_motor_link_sinister.obj"/>
<xacro:property name="hip_motor_link_sinister_collision_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/collisions/OBJ/hip_motor_link_sinister_collision.obj"/>
<xacro:property name="thigh_sinister_visual_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/visuals/OBJ/thigh_sinister.obj"/>
<xacro:property name="thigh_sinister_collision_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/collisions/OBJ/thigh_sinister_collision.obj"/>
<xacro:property name="calf_sinister_visual_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/visuals/OBJ/calf_sinister.obj"/>
<xacro:property name="calf_sinister_collision_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/collisions/OBJ/calf_sinister_collision.obj"/>
<xacro:property name="ankle_link_sinister_visual_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/visuals/OBJ/ankle_link_sinister.obj"/>
<xacro:property name="ankle_link_sinister_collision_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/collisions/OBJ/ankle_link_sinister_collision.obj"/>
<xacro:property name="foot_sinister_visual_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/visuals/OBJ/foot_sinister.obj"/>
<xacro:property name="foot_sinister_collision_mesh" value="file:///home/sunset/sunset_ws/src/kora/src/kora_desc/collisions/OBJ/foot_sinister_collision.obj"/>

<link name="world"/>
<joint name="world_joint" type="fixed">
  <parent link="world"/>
  <child link="torso_lower"/>
  <origin rpy="0 0 0" xyz="0 0 0"/>
</joint>


    

<link name="torso_lower">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${torso_lower_visual_mesh}" scale="1 1 1"/>
        </geometry>
          </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${torso_lower_collision_mesh}" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>



      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1.0" />
        <inertia ixx="0.00433778921" ixy="-9.08698218e-06" ixz="6.015618019999999e-06" iyy="0.00327528256" iyz="0.0008259445780000001" izz="0.00448404768" />
      </inertial>
      <gazebo reference="torso_lower">
      </gazebo>
</link>
<link name="torso_mid">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${torso_mid_visual_mesh}" scale="1 1 1"/>
        </geometry>
          </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${torso_mid_collision_mesh}" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>



      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1.0" />
        <inertia ixx="0.00349680885" ixy="-7.22360891e-21" ixz="-1.64695615e-19" iyy="0.00401549693" iyz="5.5563248699999994e-06" izz="0.00647631994" />
      </inertial>
      <gazebo reference="torso_mid">
      </gazebo>
</link>
<link name="torso_upper">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${torso_upper_visual_mesh}" scale="1 1 1"/>
        </geometry>
          </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${torso_upper_collision_mesh}" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>



      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1.0" />
        <inertia ixx="0.011925590199999999" ixy="-1.34254727e-06" ixz="3.94209561e-06" iyy="0.0120148783" iyz="2.94102999e-06" izz="0.0116527628" />
      </inertial>
      <gazebo reference="torso_upper">
      </gazebo>
</link>
<link name="backpack">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${backpack_visual_mesh}" scale="1 1 1"/>
        </geometry>
          </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${backpack_collision_mesh}" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>



      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1.0" />
        <inertia ixx="0.0222803238" ixy="-1.3425329400000001e-06" ixz="-8.81825398e-07" iyy="0.027701203000000004" iyz="0.0009489099969999999" izz="0.0105777581" />
      </inertial>
      <gazebo reference="backpack">
      </gazebo>
</link>
<link name="neck">
      <visual>
        <origin xyz="0 0 0.10357" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${neck_visual_mesh}" scale="1 1 1"/>
        </geometry>
          </visual>
      <collision>
        <origin xyz="0 0 0.10357" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${neck_collision_mesh}" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>



      <inertial>
        <origin xyz="0 0 0.10357" rpy="0 0 0"/>
        <mass value="1.0" />
        <inertia ixx="6.1003576999999995e-06" ixy="-4.877739510000001e-13" ixz="7.82291408e-14" iyy="6.10035843e-06" iyz="3.85604688e-14" izz="1.0733481400000001e-05" />
      </inertial>
      <gazebo reference="neck">
      </gazebo>
</link>
<link name="neck_connection">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${neck_connection_visual_mesh}" scale="1 1 1"/>
        </geometry>
          </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${neck_connection_collision_mesh}" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>



      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1.0" />
        <inertia ixx="5.5356104900000006e-05" ixy="1.80622642e-22" ixz="-1.22648384e-21" iyy="1.26475226e-05" iyz="-2.4919761099999997e-22" izz="6.1013188900000006e-05" />
      </inertial>
      <gazebo reference="neck_connection">
      </gazebo>
</link>
<link name="head">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${head_visual_mesh}" scale="1 1 1"/>
        </geometry>
          </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${head_collision_mesh}" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>



      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1.0" />
        <inertia ixx="0.00875499152" ixy="-1.10031686e-07" ixz="1.05895885e-07" iyy="0.0100606856" iyz="0.000146878504" izz="0.0102866286" />
      </inertial>
      <gazebo reference="head">
      </gazebo>
</link>
<link name="realsense">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${realsense_visual_mesh}" scale="1 1 1"/>
        </geometry>
          </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${realsense_collision_mesh}" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>



      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1.0" />
        <inertia ixx="2.57383108e-07" ixy="2.38709849e-21" ixz="-2.03483329e-21" iyy="2.70705869e-06" iyz="-2.3293406e-19" izz="2.67601348e-06" />
      </inertial>
      <gazebo reference="realsense">
      </gazebo>
</link>
<link name="shoulder_bracket_dexter">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${shoulder_bracket_dexter_visual_mesh}" scale="1 1 1"/>
        </geometry>
          </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${shoulder_bracket_dexter_collision_mesh}" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>



      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1.0" />
        <inertia ixx="0.00144157404" ixy="-4.4869663199999996e-08" ixz="6.311151650000001e-05" iyy="0.0007949240900000001" iyz="-3.69869358e-08" izz="0.00103050401" />
      </inertial>
      <gazebo reference="shoulder_bracket_dexter">
      </gazebo>
</link>
<link name="shoulder_link_dexter">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${shoulder_link_dexter_visual_mesh}" scale="1 1 1"/>
        </geometry>
          </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${shoulder_link_dexter_collision_mesh}" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>



      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1.0" />
        <inertia ixx="0.00089769986" ixy="-5.50831472e-09" ixz="5.28057508e-06" iyy="0.000936444764" iyz="-1.70906237e-08" izz="0.00113433115" />
      </inertial>
      <gazebo reference="shoulder_link_dexter">
      </gazebo>
</link>
<link name="arm_upper_dexter">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${arm_upper_dexter_visual_mesh}" scale="1 1 1"/>
        </geometry>
          </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${arm_upper_dexter_collision_mesh}" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>



      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1.0" />
        <inertia ixx="0.000233307947" ixy="-8.29006429e-21" ixz="8.64003529e-20" iyy="0.00027190574799999996" iyz="2.06795153e-21" izz="0.000250122095" />
      </inertial>
      <gazebo reference="arm_upper_dexter">
      </gazebo>
</link>
<link name="forearm_dexter">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${forearm_dexter_visual_mesh}" scale="1 1 1"/>
        </geometry>
          </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${forearm_dexter_collision_mesh}" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>



      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1.0" />
        <inertia ixx="0.000530099429" ixy="9.17050572e-06" ixz="-7.13339277e-09" iyy="0.0009883305099999999" iyz="2.2009097e-09" izz="0.0009665236070000001" />
      </inertial>
      <gazebo reference="forearm_dexter">
      </gazebo>
</link>
<link name="wrist_rot_link_dexter">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${wrist_rot_link_dexter_visual_mesh}" scale="1 1 1"/>
        </geometry>
          </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${wrist_rot_link_dexter_collision_mesh}" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>



      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1.0" />
        <inertia ixx="0.000111629122" ixy="-8.30961813e-21" ixz="4.9961709e-22" iyy="7.147135539999999e-05" iyz="4.91138489e-22" izz="7.14714437e-05" />
      </inertial>
      <gazebo reference="wrist_rot_link_dexter">
      </gazebo>
</link>
<link name="wrist_ball_dexter">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${wrist_ball_dexter_visual_mesh}" scale="1 1 1"/>
        </geometry>
          </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${wrist_ball_dexter_collision_mesh}" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>



      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1.0" />
        <inertia ixx="3.9329131600000004e-05" ixy="1.44590198e-21" ixz="6.45308082e-12" iyy="2.5775806600000004e-05" iyz="-4.01938635e-22" izz="2.5775695700000002e-05" />
      </inertial>
      <gazebo reference="wrist_ball_dexter">
      </gazebo>
</link>
<link name="hand_dexter">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${hand_dexter_visual_mesh}" scale="1 1 1"/>
        </geometry>
          </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${hand_dexter_collision_mesh}" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>



      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1.0" />
        <inertia ixx="7.47972951e-05" ixy="4.95234034e-06" ixz="-8.68417156e-06" iyy="0.000135524538" iyz="-2.0051651e-06" izz="0.00018104788299999998" />
      </inertial>
      <gazebo reference="hand_dexter">
      </gazebo>
</link>
<link name="shoulder_bracket_sinister">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${shoulder_bracket_sinister_visual_mesh}" scale="1 1 1"/>
        </geometry>
          </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${shoulder_bracket_sinister_collision_mesh}" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>



      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1.0" />
        <inertia ixx="0.00144157404" ixy="-4.4869663199999996e-08" ixz="-6.311151650000001e-05" iyy="0.0007949240900000001" iyz="3.69869358e-08" izz="0.00103050401" />
      </inertial>
      <gazebo reference="shoulder_bracket_sinister">
      </gazebo>
</link>
<link name="shoulder_link_sinister">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${shoulder_link_sinister_visual_mesh}" scale="1 1 1"/>
        </geometry>
          </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${shoulder_link_sinister_collision_mesh}" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>



      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1.0" />
        <inertia ixx="0.00089769986" ixy="-5.50831472e-09" ixz="-5.28057508e-06" iyy="0.000936444764" iyz="1.70906237e-08" izz="0.00113433115" />
      </inertial>
      <gazebo reference="shoulder_link_sinister">
      </gazebo>
</link>
<link name="arm_upper_sinister">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${arm_upper_sinister_visual_mesh}" scale="1 1 1"/>
        </geometry>
          </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${arm_upper_sinister_collision_mesh}" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>



      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1.0" />
        <inertia ixx="0.000233307947" ixy="9.61355327e-21" ixz="6.691495609999999e-21" iyy="0.00027190574799999996" iyz="-2.23338765e-21" izz="0.000250122095" />
      </inertial>
      <gazebo reference="arm_upper_sinister">
      </gazebo>
</link>
<link name="forearm_sinister">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${forearm_sinister_visual_mesh}" scale="1 1 1"/>
        </geometry>
          </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${forearm_sinister_collision_mesh}" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>



      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1.0" />
        <inertia ixx="0.000530099429" ixy="9.17050572e-06" ixz="7.13339277e-09" iyy="0.0009883305099999999" iyz="-2.2009097e-09" izz="0.0009665236070000001" />
      </inertial>
      <gazebo reference="forearm_sinister">
      </gazebo>
</link>
<link name="wrist_rot_link_sinister">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${wrist_rot_link_sinister_visual_mesh}" scale="1 1 1"/>
        </geometry>
          </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${wrist_rot_link_sinister_collision_mesh}" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>



      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1.0" />
        <inertia ixx="0.000111629122" ixy="-8.30961813e-21" ixz="-4.9961709e-22" iyy="7.147135539999999e-05" iyz="-4.91138489e-22" izz="7.14714437e-05" />
      </inertial>
      <gazebo reference="wrist_rot_link_sinister">
      </gazebo>
</link>
<link name="wrist_ball_sinister">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${wrist_ball_sinister_visual_mesh}" scale="1 1 1"/>
        </geometry>
          </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${wrist_ball_sinister_collision_mesh}" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>



      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1.0" />
        <inertia ixx="3.9329131600000004e-05" ixy="1.44590198e-21" ixz="-6.45308082e-12" iyy="2.5775806600000004e-05" iyz="4.01938635e-22" izz="2.5775695700000002e-05" />
      </inertial>
      <gazebo reference="wrist_ball_sinister">
      </gazebo>
</link>
<link name="hand_sinister">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${hand_sinister_visual_mesh}" scale="1 1 1"/>
        </geometry>
          </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${hand_sinister_collision_mesh}" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>



      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1.0" />
        <inertia ixx="7.479572059999999e-05" ixy="-4.95856551e-06" ixz="8.68406372e-06" iyy="0.000135524802" iyz="-2.00905246e-06" izz="0.00018104611" />
      </inertial>
      <gazebo reference="hand_sinister">
      </gazebo>
</link>
<link name="hip_bracket_dexter">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${hip_bracket_dexter_visual_mesh}" scale="1 1 1"/>
        </geometry>
          </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${hip_bracket_dexter_collision_mesh}" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>



      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1.0" />
        <inertia ixx="0.00057980089" ixy="3.03514081e-09" ixz="-6.04022308e-05" iyy="0.00042406632000000004" iyz="-1.91982782e-08" izz="0.00044408035399999996" />
      </inertial>
      <gazebo reference="hip_bracket_dexter">
      </gazebo>
</link>
<link name="hip_motor_link_dexter">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${hip_motor_link_dexter_visual_mesh}" scale="1 1 1"/>
        </geometry>
          </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${hip_motor_link_dexter_collision_mesh}" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>



      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1.0" />
        <inertia ixx="0.000287783964" ixy="-4.0395808699999995e-16" ixz="3.2604867599999996e-10" iyy="0.00023118299" iyz="4.52423297e-10" izz="0.00033092146" />
      </inertial>
      <gazebo reference="hip_motor_link_dexter">
      </gazebo>
</link>
<link name="thigh_dexter">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${thigh_dexter_visual_mesh}" scale="1 1 1"/>
        </geometry>
          </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${thigh_dexter_collision_mesh}" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>



      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1.0" />
        <inertia ixx="0.00318832262" ixy="3.21252453e-05" ixz="0.00012394708" iyy="0.00276480145" iyz="-0.000569440192" izz="0.00248045855" />
      </inertial>
      <gazebo reference="thigh_dexter">
      </gazebo>
</link>
<link name="calf_dexter">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${calf_dexter_visual_mesh}" scale="1 1 1"/>
        </geometry>
          </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${calf_dexter_collision_mesh}" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>



      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1.0" />
        <inertia ixx="0.00558420881" ixy="-7.885774e-10" ixz="-5.42609033e-10" iyy="0.00513737038" iyz="0.000873086495" izz="0.0030546704499999997" />
      </inertial>
      <gazebo reference="calf_dexter">
      </gazebo>
</link>
<link name="ankle_link_dexter">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${ankle_link_dexter_visual_mesh}" scale="1 1 1"/>
        </geometry>
          </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${ankle_link_dexter_collision_mesh}" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>



      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1.0" />
        <inertia ixx="0.000169882972" ixy="2.8188764300000002e-21" ixz="1.40620704e-21" iyy="0.000169882529" iyz="-3.87740912e-23" izz="0.00023568287299999998" />
      </inertial>
      <gazebo reference="ankle_link_dexter">
      </gazebo>
</link>
<link name="foot_dexter">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${foot_dexter_visual_mesh}" scale="1 1 1"/>
        </geometry>
          </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${foot_dexter_collision_mesh}" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>



      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1.0" />
        <inertia ixx="0.00142180074" ixy="-3.57379545e-10" ixz="1.49897664e-10" iyy="0.000386123636" iyz="-1.8796694499999997e-05" izz="0.0016409150100000001" />
      </inertial>
      <gazebo reference="foot_dexter">
      </gazebo>
</link>
<link name="hip_bracket_sinister">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${hip_bracket_sinister_visual_mesh}" scale="1 1 1"/>
        </geometry>
          </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${hip_bracket_sinister_collision_mesh}" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>



      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1.0" />
        <inertia ixx="0.0005886984849999999" ixy="2.15943749e-08" ixz="5.61868891e-05" iyy="0.000403026999" iyz="5.0592535799999996e-08" izz="0.000492431593" />
      </inertial>
      <gazebo reference="hip_bracket_sinister">
      </gazebo>
</link>
<link name="hip_motor_link_sinister">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${hip_motor_link_sinister_visual_mesh}" scale="1 1 1"/>
        </geometry>
          </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${hip_motor_link_sinister_collision_mesh}" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>



      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1.0" />
        <inertia ixx="0.000287783964" ixy="-4.03966028e-16" ixz="3.2604867599999996e-10" iyy="0.00023118299" iyz="4.52423297e-10" izz="0.00033092146" />
      </inertial>
      <gazebo reference="hip_motor_link_sinister">
      </gazebo>
</link>
<link name="thigh_sinister">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${thigh_sinister_visual_mesh}" scale="1 1 1"/>
        </geometry>
          </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${thigh_sinister_collision_mesh}" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>



      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1.0" />
        <inertia ixx="0.0031883234" ixy="-3.2095586e-05" ixz="-0.000123922686" iyy="0.00276480046" iyz="-0.0005694405999999999" izz="0.00248045802" />
      </inertial>
      <gazebo reference="thigh_sinister">
      </gazebo>
</link>
<link name="calf_sinister">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${calf_sinister_visual_mesh}" scale="1 1 1"/>
        </geometry>
          </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${calf_sinister_collision_mesh}" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>



      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1.0" />
        <inertia ixx="0.005737414979999999" ixy="-2.23875926e-09" ixz="-2.03377793e-09" iyy="0.0052584826" iyz="0.000905644896" izz="0.0031002929600000002" />
      </inertial>
      <gazebo reference="calf_sinister">
      </gazebo>
</link>
<link name="ankle_link_sinister">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${ankle_link_sinister_visual_mesh}" scale="1 1 1"/>
        </geometry>
          </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${ankle_link_sinister_collision_mesh}" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>



      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1.0" />
        <inertia ixx="0.000169882972" ixy="-4.25739522e-21" ixz="1.0753348000000001e-21" iyy="0.000169882529" iyz="7.46401256e-23" izz="0.00023568287299999998" />
      </inertial>
      <gazebo reference="ankle_link_sinister">
      </gazebo>
</link>
<link name="foot_sinister">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${foot_sinister_visual_mesh}" scale="1 1 1"/>
        </geometry>
          </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${foot_sinister_collision_mesh}" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>



      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1.0" />
        <inertia ixx="0.00142180074" ixy="4.87199272e-10" ixz="-1.4993659399999999e-10" iyy="0.000386123636" iyz="-1.8796694499999997e-05" izz="0.0016409150100000001" />
      </inertial>
      <gazebo reference="foot_sinister">
      </gazebo>
</link>

<joint name="spine_x" type="revolute">
      <parent link="torso_lower"/>
      <child link = "torso_mid"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <axis xyz="1 0 0"/>
      <limit lower="0" upper="0.22" effort="3.92" velocity="1.75"/>
      </joint>

<joint name="spine_z" type="revolute">
      <parent link="torso_mid"/>
      <child link = "torso_upper"/>
      <origin xyz="0 0 0.1" rpy="0 0 0"/>
      <axis xyz="0 0 1"/>
      <limit lower="-0.22" upper="0.22" effort="3.92" velocity="1.75"/>
      </joint>

<joint name="backpack_joint" type="fixed">
      <parent link="torso_upper"/>
      <child link = "backpack"/>
      <origin xyz="0 0.12 0.1" rpy="0 0 0"/>
      </joint>

<joint name="neck_connection_joint" type="fixed">
      <parent link="torso_upper"/>
      <child link = "neck_connection"/>
      <origin xyz="0 0 0.22609" rpy="0 0 0"/>
      </joint>

<joint name="neck_x" type="revolute">
      <parent link="torso_upper"/>
      <child link = "neck"/>
      <origin xyz="0 0 0.14829" rpy="0 0 0"/>
      <axis xyz="1 0 0"/>
      <limit lower="0" upper="0.22" effort="3.92" velocity="1.75"/>
      </joint>

<joint name="neck_z" type="revolute">
      <parent link="neck"/>
      <child link = "head"/>
      <origin xyz="0 0 0.12975" rpy="0 0 0"/>
      <axis xyz="1 0 0"/>
      <limit lower="0" upper="0.22" effort="3.92" velocity="1.75"/>
      </joint>

<joint name="realsense_joint" type="fixed">
      <parent link="head"/>
      <child link = "realsense"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      </joint>

<joint name="shoulder_roll_dexter" type="revolute">
      <parent link="torso_upper"/>
      <child link = "shoulder_bracket_dexter"/>
      <origin xyz="-0.10976 0 0.14829" rpy="0 0.165143 0"/>
      <axis xyz="1 0 0"/>
      <limit lower="0" upper="0.22" effort="3.92" velocity="1.75"/>
      </joint>

<joint name="shoulder_roll_sinister" type="revolute">
      <parent link="torso_upper"/>
      <child link = "shoulder_bracket_sinister"/>
      <origin xyz="0.10976 0 0.14829" rpy="0 -0.165143 0"/>
      <axis xyz="1 0 0"/>
      <limit lower="0" upper="0.22" effort="3.92" velocity="1.75"/>
      </joint>

<joint name="shoulder_pitch_dexter" type="revolute">
      <parent link="shoulder_bracket_dexter"/>
      <child link = "shoulder_link_dexter"/>
      <origin xyz="-0.076 0 0" rpy="0 -0.165143 0"/>
      <axis xyz="1 0 0"/>
      <limit lower="0" upper="0.22" effort="3.92" velocity="1.75"/>
      </joint>

<joint name="shoulder_pitch_sinister" type="revolute">
      <parent link="shoulder_bracket_sinister"/>
      <child link = "shoulder_link_sinister"/>
      <origin xyz="0.076 0 0" rpy="0 0.165143 0"/>
      <axis xyz="1 0 0"/>
      <limit lower="0" upper="0.22" effort="3.92" velocity="1.75"/>
      </joint>

<joint name="arm_upper_rot_dexter" type="revolute">
      <parent link="shoulder_link_dexter"/>
      <child link = "arm_upper_dexter"/>
      <origin xyz="-0.102 0 0" rpy="0 0 0"/>
      <axis xyz="1 0 0"/>
      <limit lower="0" upper="0.22" effort="3.92" velocity="1.75"/>
      </joint>

<joint name="arm_upper_rot_sinister" type="revolute">
      <parent link="shoulder_link_sinister"/>
      <child link = "arm_upper_sinister"/>
      <origin xyz="0.102 0 0" rpy="0 0 0"/>
      <axis xyz="1 0 0"/>
      <limit lower="0" upper="0.22" effort="3.92" velocity="1.75"/>
      </joint>

<joint name="elbow_dexter" type="revolute">
      <parent link="arm_upper_dexter"/>
      <child link = "forearm_dexter"/>
      <origin xyz="-0.155 0 0" rpy="0 0 0"/>
      <axis xyz="1 0 0"/>
      <limit lower="0" upper="0.22" effort="3.92" velocity="1.75"/>
      </joint>

<joint name="elbow_sinister" type="revolute">
      <parent link="arm_upper_sinister"/>
      <child link = "forearm_sinister"/>
      <origin xyz="0.155 0 0" rpy="0 0 0"/>
      <axis xyz="1 0 0"/>
      <limit lower="0" upper="0.22" effort="3.92" velocity="1.75"/>
      </joint>

<joint name="wrist_rot_dexter" type="revolute">
      <parent link="forearm_dexter"/>
      <child link = "wrist_rot_link_dexter"/>
      <origin xyz="-0.1 0 0" rpy="0 0 0"/>
      <axis xyz="1 0 0"/>
      <limit lower="0" upper="0.22" effort="3.92" velocity="1.75"/>
      </joint>

<joint name="wrist_pitch_dexter" type="revolute">
      <parent link="wrist_rot_link_dexter"/>
      <child link = "wrist_ball_dexter"/>
      <origin xyz="-0.055 0 0" rpy="0 0 0"/>
      <axis xyz="1 0 0"/>
      <limit lower="0" upper="0.22" effort="3.92" velocity="1.75"/>
      </joint>

<joint name="wrist_yaw_dexter" type="revolute">
      <parent link="wrist_ball_dexter"/>
      <child link = "hand_dexter"/>
      <origin xyz="-0.05 0 0" rpy="0 0 0"/>
      <axis xyz="1 0 0"/>
      <limit lower="0" upper="0.22" effort="3.92" velocity="1.75"/>
      </joint>

<joint name="wrist_rot_sinister" type="revolute">
      <parent link="forearm_sinister"/>
      <child link = "wrist_rot_link_sinister"/>
      <origin xyz="0.1 0 0" rpy="0 0 0"/>
      <axis xyz="1 0 0"/>
      <limit lower="0" upper="0.22" effort="3.92" velocity="1.75"/>
      </joint>

<joint name="wrist_pitch_sinister" type="revolute">
      <parent link="wrist_rot_link_sinister"/>
      <child link = "wrist_ball_sinister"/>
      <origin xyz="0.055 0 0" rpy="0 0 0"/>
      <axis xyz="1 0 0"/>
      <limit lower="0" upper="0.22" effort="3.92" velocity="1.75"/>
      </joint>

<joint name="wrist_yaw_sinister" type="revolute">
      <parent link="wrist_ball_sinister"/>
      <child link = "hand_sinister"/>
      <origin xyz="0.05 0 0" rpy="0 0 0"/>
      <axis xyz="1 0 0"/>
      <limit lower="0" upper="0.22" effort="3.92" velocity="1.75"/>
      </joint>

<joint name="hip_yaw_dexter" type="revolute">
      <parent link="torso_lower"/>
      <child link = "hip_bracket_dexter"/>
      <origin xyz="-0.074255 0 -0.05657" rpy="0 -0.785398 0"/>
      <axis xyz="1 0 0"/>
      <limit lower="0" upper="0.22" effort="3.92" velocity="1.75"/>
      </joint>

<joint name="hip_roll_dexter" type="revolute">
      <parent link="hip_bracket_dexter"/>
      <child link = "hip_motor_link_dexter"/>
      <origin xyz="-0.09714 0 -0.08195" rpy="0 0.785398 0"/>
      <axis xyz="1 0 0"/>
      <limit lower="0" upper="0.22" effort="3.92" velocity="1.75"/>
      </joint>

<joint name="hip_pitch_dexter" type="revolute">
      <parent link="hip_motor_link_dexter"/>
      <child link = "thigh_dexter"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <axis xyz="1 0 0"/>
      <limit lower="0" upper="0.22" effort="3.92" velocity="1.75"/>
      </joint>

<joint name="knee_dexter" type="revolute">
      <parent link="thigh_dexter"/>
      <child link = "calf_dexter"/>
      <origin xyz="-0.005 -0.0382 -0.21666" rpy="0 0 0"/>
      <axis xyz="1 0 0"/>
      <limit lower="0" upper="0.22" effort="3.92" velocity="1.75"/>
      </joint>

<joint name="ankle_pitch_dexter" type="revolute">
      <parent link="calf_dexter"/>
      <child link = "ankle_link_dexter"/>
      <origin xyz="0 0.0547 -0.31021" rpy="0 0 0"/>
      <axis xyz="1 0 0"/>
      <limit lower="0" upper="0.22" effort="3.92" velocity="1.75"/>
      </joint>

<joint name="ankle_roll_dexter" type="revolute">
      <parent link="ankle_link_dexter"/>
      <child link = "foot_dexter"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <axis xyz="1 0 0"/>
      <limit lower="0" upper="0.22" effort="3.92" velocity="1.75"/>
      </joint>

<joint name="hip_yaw_sinister" type="revolute">
      <parent link="torso_lower"/>
      <child link = "hip_bracket_sinister"/>
      <origin xyz="0.074255 0 -0.05657" rpy="0 0.785398 0"/>
      <axis xyz="1 0 0"/>
      <limit lower="0" upper="0.22" effort="3.92" velocity="1.75"/>
      </joint>

<joint name="hip_roll_sinister" type="revolute">
      <parent link="hip_bracket_sinister"/>
      <child link = "hip_motor_link_sinister"/>
      <origin xyz="0.09714 0 -0.08195" rpy="0 -0.785398 0"/>
      <axis xyz="1 0 0"/>
      <limit lower="0" upper="0.22" effort="3.92" velocity="1.75"/>
      </joint>

<joint name="hip_pitch_sinister" type="revolute">
      <parent link="hip_motor_link_sinister"/>
      <child link = "thigh_sinister"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <axis xyz="1 0 0"/>
      <limit lower="0" upper="0.22" effort="3.92" velocity="1.75"/>
      </joint>

<joint name="knee_sinister" type="revolute">
      <parent link="thigh_sinister"/>
      <child link = "calf_sinister"/>
      <origin xyz="0.005 -0.0382 -0.21666" rpy="0 0 0"/>
      <axis xyz="1 0 0"/>
      <limit lower="0" upper="0.22" effort="3.92" velocity="1.75"/>
      </joint>

<joint name="ankle_pitch_sinister" type="revolute">
      <parent link="calf_sinister"/>
      <child link = "ankle_link_sinister"/>
      <origin xyz="0 0.0547 -0.31021" rpy="0 0 0"/>
      <axis xyz="1 0 0"/>
      <limit lower="0" upper="0.22" effort="3.92" velocity="1.75"/>
      </joint>

<joint name="ankle_roll_sinister" type="revolute">
      <parent link="ankle_link_sinister"/>
      <child link = "foot_sinister"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <axis xyz="1 0 0"/>
      <limit lower="0" upper="0.22" effort="3.92" velocity="1.75"/>
      </joint>


</robot>